In [1]:
import sys
import pandas as pd
import os

In [2]:
sys.path.append("..\\..")

In [3]:
from config import PATH_TO_DATA

In [4]:
ftraining_data = "iris.data"
colnames = ["sepal_length_cm", "sepal_width_cm", "petal_length_cm", "petal_width_cm", "target"]

In [7]:
training_data = pd.read_csv(os.path.join(PATH_TO_DATA, ftraining_data), header=None, names=colnames)

In [8]:
training_data.head()

,sepal_length_cm,sepal_width_cm,petal_length_cm,petal_width_cm,target
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa